@charset "utf-8";

body {
  background: #ffffff;
}
footer {
  margin-top: 40px;
}

.navbar-header img {
  margin-top: 5px;
  height: 40px;
}


.navbar-default {
 background: transparent;
 border-color: transparent;
}

body {
  background: url("/images/cover-bg.jpg") center center / cover no-repeat fixed;
}


.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.btn-twitter{
  color:#fff;background-color:#55acee;
  border-color:rgba(0,0,0,0.2);
}